<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCTNrS0LLImLzEygBBCo7bD7YG7SeuUMok</string>
	<key>GCM_SENDER_ID</key>
	<string>971405972659</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.engrafaeljosedonascimento.myexamplefirebaseinrn</string>
	<key>PROJECT_ID</key>
	<string>snipetcrashlytics</string>
	<key>STORAGE_BUCKET</key>
	<string>snipetcrashlytics.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:971405972659:ios:cafc06d94d403f58088cc6</string>
</dict>
</plist>